<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Options -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Shared on THEMELOCK.COM - Homepage 3</title>

    <!-- Bootstrap CSS (Bootstrap 5) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional Stylesheets -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/owl.carousel.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery.fancybox.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/fontawesome.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/nice-select.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/style.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/style-dark.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/responsive.css")">
</head>

<body class="light-d">

    <!-- Loader Start -->
    <div class="preloader">
        <div class="loader-wrap-heading">
            <div class="load-text"> <span>L</span> <span>o</span> <span>a</span> <span>d</span> <span>i</span> <span>n</span> <span>g</span> </div>
        </div>
    </div>
    <!-- Loader End -->

    <header>
        @await Component.InvokeAsync("Header")
    </header>
    @RenderBody()

    <!-- Footer Style One Start -->
    <footer class="footer-style-one" style="background-image: url(https://via.placeholder.com/1920x732);">
        <div class="footer-p-1">
            <div class="container">
                <div class="row">
                    <div class="footer-first">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="assets/images/logo-2.svg" alt="Footer Logo">
                            </a>
                        </div>
                        <div class="contact-info d-flex-all">
                            <div class="images d-flex-all justify-content-start">
                                <figure>
                                    <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                                </figure>
                                <figure>
                                    <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                                </figure>
                                <figure>
                                    <img src="https://via.placeholder.com/57x57" alt="Contact Images">
                                </figure>
                            </div>
                            <p>expert trainers <span>+1 (251) 344 0 66</span> free call !</p>
                        </div>
                        <a href="contact.html" class="theme-btn">Get a Consultation </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-p-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-col">
                            <h3>Information</h3>
                            <p>Regular trips to the gym are great, but don't worry if you can't find a large chunk of time to exercise every day.</p>
                            <ul class="social-media">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                <li><a href="#"><i class="flaticon-instagram"></i></a></li>
                                <li><a href="#"><i class="flaticon-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-col">
                            <h3>Contact</h3>
                            <ul>
                                <li>
                                    <i class="flaticon-maps"></i>
                                    <p>901 N Pitt Str., Suite 170, VA 22314, USA</p>
                                </li>
                                <li>
                                    <i class="flaticon-iphone"></i>
                                    <p><a href="callto:(+380)503184707">(+380) 50 318 47 07</a></p>
                                </li>
                                <li>
                                    <i class="flaticon-mail"></i>
                                    <p><a href="mailto:username@domain.com">username@domain.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-col">
                            <h3>Newsletter</h3>
                            <p>Signup for our weekly newsletter to get the latest news.</p>
                            <form>
                                <input type="email" name="email" placeholder="Enter your email.">
                                <button>
                                    <i class="fa-solid fa-arrow-up-long"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="footer-p-3 rights">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <p>gym on fitness Center<i class="fa-solid fa-heart"></i> © 2024 </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Style One End -->
    @RenderSection("Scripts", required: false)

    <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>
    <div class="modal fade popups conslt-popup" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="https://via.placeholder.com/420x591" alt="img">
                    <div class="contact-form-one popup">
                        <div class="c-form-2">
                            <h3>Start Consulting</h3>
                            
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS (5.3.0) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Additional JS Libraries -->
    <script src="@Url.Content("~/assets/js/jquery.fancybox.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.nice-select.js")"></script>
    <script src="@Url.Content("~/assets/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/assets/js/custom.js")"></script>

</body>

</html>
